.ctdUpgradeGrid {
  display: inline-grid;
  grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
}

.ctdUpgradeGrid > div {
  background-color: white;
  text-align: center;
}
