.ctdUpgradeToDos {
  display: inline-grid;
  grid-template-columns: repeat(10, 16px);
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
}

.ctdUpgradeToDos > div {
  background-color: white;
  text-align: center;
  height: 16px;
  width: 16px;
}

.ctdUpgradeSelectors {
  display: inline-grid;
  grid-template-columns: repeat(2, 120px);
  grid-gap: 1px;
}

.ctdUpgradeSelectors > div {
  text-align: center;
  border: 1px solid black;
  height: 16px;
  width: 120px;
}
