.ctdUpgrade {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.ctdUpgradeToDos {
  display: inline-grid;
  grid-template-columns: repeat(10, 24px);
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.ctdUpgradeToDos > div {
  background-color: white;
  text-align: center;
  height: 24px;
  width: 24px;
}

.ctdUpgradeSelectors {
  display: inline-grid;
  grid-template-columns: repeat(2, 140px);
  grid-gap: 1px;
    margin-left: auto;
    margin-right: auto;
}

.ctdUpgradeSelectors > div {
  text-align: center;
  border: 1px solid black;
  height: 28px;
  width: 140px;
  color: black;
  font-size: 0.5rem
}

.ctdUpgradeOptions {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ctdUpgradeOptions > label {
    display: inline-block;
    padding: 5px 20px 5px 20px;
}
